h1 {
  color: red;
  margin-left: 50px;
}

h2 {
  color: blue;
  margin-left: 50px;
}

h3 {
  color: blue;
  margin-left: 50px;
}


p {
  color: blue;
  font-size: 20px;
  margin-left: 20px;
}

ul {
  font-size: 20px;
  margin-left: 50px;
  
}

ol {
  font-size: 20px;
  margin-left: 50px;
}

table, th, td {
  border: 1px solid black;
}

img {
  margin-left: 50px;
  width: 50%;
  height: auto;
}


